.cd-panel {
    position: fixed;
    top: 76px;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.6s;
    transition: visibility 0s 0.6s;
}

.cd-panel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s;
}

.cd-panel.cd-panel--is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}

.cd-panel.cd-panel--is-visible::after {
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: background 0.3s 0s;
    transition: background 0.3s 0s;
}

.cd-panel__container {
    position: fixed;
    width: 90%;
    height: calc(100% - 76px);
    top: 76px;
    background: #ffffff;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s 0s;
    transition: -webkit-transform 0.3s 0s;
    transition: transform 0.3s 0s;
    -webkit-font-smoothing: antialiased;
}

.cd-panel--from-right .cd-panel__container {
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-panel--from-left .cd-panel__container {
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.cd-panel--is-visible .cd-panel__container {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 768px) {
    .cd-panel__container {
        width: 70%;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-panel__container {
        width: 50%;
    }
}

.cd-panel__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


@media only screen and (min-width: 768px) {
    .cd-panel__content p {
        font-size: 1.6rem;
        line-height: 1.6;
    }
}

.test-and-deploy {
    .pf-c-tab-content, .pf-c-tabs__link {
        outline: none;
    }
    .pf-c-divider {
        margin: var(--pf-global--spacer--xl) 0;
    }
    &__title {
        margin-bottom: var(--pf-global--spacer--md);
    }
    &__endpoint-selection {
        max-width: 20em;
        margin-bottom: var(--pf-global--spacer--xl);
    }
    &__deploy {

    }
    &__endpoint-response {
        position: sticky;
        top: 5px;
        margin-left: 1em;
    }
}



.dynamic-form {
    margin-right: 1em;
    hr.bg-secondary {
        background-color: var(--pf-global--BorderColor--100) !important;
    }
    h5 {
        font-size: 1.125rem;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.dynamic-form {
    input, textarea {
        border-radius: 0 !important;
    }
}

.response-viewer {
    padding: var(--pf-global--spacer--sm);
    margin-bottom: var(--pf-global--spacer--sm);
    border: 1px solid var(--pf-global--disabled-color--200);
    background-color: #fff;
    min-height: 10em;
}
.response-input-filter {
    margin-left: 10px;
    padding-top: var(--pf-global--spacer--sm)
}